@import "tailwindcss";

@theme {
    --color-primary-50: #F6F0FF;
    --color-primary-100: #E9DFFF;
    --color-primary-200: #D1B8FF;
    --color-primary-300: #B990FF;
    --color-primary-400: #9646FF;
    --color-primary-500: #7E36E5;
    --color-primary-600: #672ECC;
    --color-primary-700: #4E23A3;
    --color-primary-800: #37187A;
    --color-primary-900: #230E52;

    --color-secondary-100: #F9FAFB;
    --color-secondary-200: #F3F4F6;
    --color-secondary-300: #E5E7EB;
    --color-secondary-400: #9CA3AF;
    --color-secondary-500: #6B7280;
    --color-secondary-600: #4B5563;
    --color-secondary-700: #374151;
    --color-secondary-800: #1F2937;
    --color-secondary-900: #111827;
}